{% extends "base.html" %}

{% block body_content %}
<table id="item_tbl">
    {% for item in item_list %}
    <tr>
        {% include "vote_arrow.html" %}

        <td>
            {% include 'comment_info.html' %}
        </td>
    </tr>
    <tr>
        <td colspan="1"></td>
        <td><span class="content">{{ item.text }}</span></td>
    </tr>
    <tr class="body_gap"></tr>
    {% endfor %}

    {% if next > 0 %}
        <tr class="body_gap"></tr>
        <tr>
            <td colspan="2"></td>
            <td><a href="{% url 'index' %}?s={{ next }}">More</a></td>
        </tr>
    {% endif %}
</table>
{% endblock body_content %}
