{% extends "base.html" %}

{% load staticfiles %}

{% block body_content %}
<table id="news_tbl">
    {% for new in new_list %}
    <tr>
        <td class="new_index">{{ forloop.counter }}.</td>

        {% include "vote_arrow.html" %}

        <td class="item_title">
            {% if new.url %}
                <a href="{{ new.url }}">{{ new.title }}</a><span class="item_info">  ({{ new.get_domain }})</span>
            {% else %}
                <a href="/item?id={{ new.id }}">{{ new.title }}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="item_info">
            <span class="item_points">{{ new.points }} points</span>
            by
            <a href="/user?id={{ new.author.id }}">{{ new.author.username }}</a>
            {{ new.formated_create_time }} | 
            <a href="item?id={{ new.id }}">{{ new.comments }} comments</a>
        </td>
    </tr>
    <tr class="body_gap"></tr>
    {% endfor %}
</table>
{% endblock body_content %}
