{% extends "base.html" %}

{% load staticfiles %}

{% block body_content %}
<table id="news_tbl">
    {% for item in new_list %}
    <tr>
        <td class="new_index">{{ forloop.counter }}.</td>

        {% include "vote_arrow.html" %}

        <td class="item_title">
            {% if item.url %}
                <a href="{{ item.url }}">{{ item.title }}</a><span class="item_info">  ({{ item.get_domain }})</span>
            {% else %}
                <a href="/item?id={{ item.id }}">{{ item.title }}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="item_info">
            <span class="item_points">{{ item.points }} points</span>
            by
            <a href="/user?id={{ item.author.id }}">{{ item.author.username }}</a>
            {{ item.formated_create_time }} | 
            <a href="item?id={{ item.id }}">{{ item.comments }} comments</a>
        </td>
    </tr>
    <tr class="body_gap"></tr>
    {% endfor %}
</table>
{% endblock body_content %}
