{% extends "base.html" %}

{% block body_content %}
<table id="item_tbl">
    {% for item in item_list %}
    <tr>
        <td class="item_index">{{ forloop.counter }}.</td>

        {% include "vote_arrow.html" %}

        <td class="item_title">
            {% if item.url %}
                <a href="{{ item.url }}">{{ item.title }}</a><span class="item_info">  ({{ item.get_domain }})</span>
            {% else %}
                <a href="/item?id={{ item.id }}">{{ item.title }}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        {% include 'info.html' %}
    </tr>
    <tr class="body_gap"></tr>
    {% endfor %}
</table>
{% endblock body_content %}
