{% extends 'base.html' %}

{% load staticfiles %}

{% block body_content %}
<table>
    <tbody>
        <tr>
            {% include 'vote_arrow.html' %}

            {% if item.type == 'NEW' %}
            <td class="item_title">
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.title }}</a><span class="item_info">({{ item.get_domain }})</span>
                    {% else %}
                        <a href="/item?id={{ item.id }}">{{ item.title }}</a>
                    {% endif %}
            </td>
            {% else %}
            <td>
                {% include 'comment_info.html' %}
            </td>
            {% endif %}
        </tr>
        <tr>
            <td></td>
            {% if item.type == 'NEW' %}
                {% include 'info.html' %}
            {% else %}
                <td>
                    <span class="content">{{ item.text }}</span>
                </td>
            {% endif %}
        </tr>
        {% if item.type == 'NEW' and not item.url %}
        <tr>
            <td></td>
            <td><span class="content">{{ item.text }}</span></td>
        </tr>
        {% endif %}
        <tr>
            <td></td>
            <td>
                <form action="/r" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="parent" value="{{ item.id }}" />
                    <textarea cols="50" rows="5" name="text"></textarea>
                    <br>
                    <br>
                    <input type="submit" value="{% if not item.parent %}add comment{% else %}reply{% endif %}" />
                </form>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>

<table>
    <tbody>
        {% for child in item.childs %}
            {% with item=child %}
                {% include 'comment.html' with level="0" %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock body_content %}
