{% extends 'base.html' %}

{% load staticfiles %}

{% block body_content %}
<table>
    <tbody>
        <tr>
            {% include 'vote_arrow.html' %}

            {% if item.type == 'NEW' %}
            <td class="item_title">
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.title }}</a><span class="item_info">({{ item.get_domain }})</span>
                    {% else %}
                        <a href="/item?id={{ item.id }}">{{ item.title }}</a>
                    {% endif %}
            </td>
            {% else %}
            <td class="item_info">
                <a href="/user?id={{ item.author.id }}">{{ item.author.username }}</a>
                {{ item.formated_create_time }}
                | 
                <a href="item?id={{ item.id }}">{{ item.comments }} comments</a>
                |
                <a href="item?id={{ item.parent_id }}">parent</a>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td></td>
            {% if item.type == 'NEW' %}
                <td class="item_info">
                    <span class="item_points">{{ item.points }} points</span>
                    by
                    <a href="/user?id={{ item.author.id }}">{{ item.author.username }}</a>
                    {{ item.formated_create_time }} | 
                    <a href="item?id={{ item.id }}">{{ item.comments }} comments</a>
                </td>
            {% else %}
                <td>
                    <span class="content">{{ item.text }}</span>
                </td>
            {% endif %}
        </tr>
        {% if item.type == 'NEW' and not item.url %}
        <tr>
            <td></td>
            <td><span class="content">{{ item.text }}</span></td>
        </tr>
        {% endif %}
        <tr>
            <td></td>
            <td>
                <form action="/r" method="post">
                    <input type="hidden" name="parent" value="{{ item.parent.id }}" />
                    <textarea cols="50" rows="5" name="text"></textarea>
                    <br>
                    <br>
                    <input type="submit" value="{% if not item.parent %}add comment{% else %}reply{% endif %}" />
                </form>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>

<table>
    <tbody>
        {% for child in item.childs %}
            {% with item=child %}
                {% include 'comment.html' with level="0" %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock body_content %}
